@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
header > h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
}

header > a > img {
  width: 40px;
  height: 40px;
}
.card_input {
  margin: 0 auto;
}
.card {
  width: 350px;
  height: 200px;
  border-radius: 15px;
  background: linear-gradient(108.02deg, #000000 2.05%, #1a433c 94.97%);
  position: relative;
}
.your_bank {
  color: rgb(194, 194, 194);
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.2rem;
}
.card_number {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 60px;
  font-size: 1.5rem;
}
.your_name {
  color: rgb(194, 194, 194);
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 1.2rem;
}
.provider {
  z-index: 1;
  background-repeat: no-repeat;
  width: 120px;
  height: 80px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.input_area {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#input {
  border: 2px solid rgb(0, 0, 0);
  outline: 0;
  width: 230px;
  height: 40px;
  border-radius: 7px;
  font-size: 1rem;
  padding: 5px 15px;
}
#check {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin: 0 auto;
  color: rgb(90, 89, 89);
  font-size: 1rem;
}
footer {
  text-align: center;
  margin: 10px;
}
footer > p,
a {
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
footer > p > a {
  color: rgb(0, 89, 255);
}
@media (max-width: 380px) {
  header > h1 {
    font-size: 1.2rem;
  }
  .input_area {
    flex-direction: column;
    align-items: flex-end;
  }
  #input {
    width: 100%;
  }
  #check {
    margin-top: 10px;
    font-size: 1.1rem;
    width: 40%;
    text-align: center;
  }
}
@media (max-width: 370px) {
  header > img {
    width: 30px;
    height: 30px;
  }
  .card {
    width: 270px;
    height: 150px;
  }
  .your_bank {
    top: 15px;
    right: 15px;
    font-size: 1.05rem;
  }
  .card_number {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 40px;
    font-size: 1.2rem;
  }
  .your_name {
    bottom: 15px;
    left: 15px;
    font-size: 1.05rem;
  }
  .provider {
    background-repeat: no-repeat;
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0;
  }
}
