@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
}
header > h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

header > a > img {
  width: 40px;
  height: 40px;
}
.card_input {
  margin: 0 auto;
}
.card {
  width: 350px;
  height: 200px;
  border-radius: 15px;
  background: linear-gradient(108.02deg, #000000 2.05%, #1a433c 94.97%);
}
.input_area {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#input {
  border: 2px solid rgb(143, 143, 143);
  width: 230px;
  height: 40px;
  border-radius: 7px;
  font-size: 1rem;
  padding: 5px;
}
#check {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin: 0 auto;
  color: rgb(90, 89, 89);
  font-size: 1rem;
}
footer {
  text-align: center;
  margin: 10px;
}
footer > p,
a {
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
footer > p > a {
  color: rgb(0, 89, 255);
}

@media (max-width: 370px) {
  header > h1 {
    font-size: 1.3rem;
  }
  header > img {
    width: 30px;
    height: 30px;
  }
  .card {
    width: 270px;
    height: 150px;
  }
}

@media (max-width: 380px) {
  .input_area {
    flex-direction: column;
    align-items: flex-end;
  }
  #input {
    width: 250px;
  }
  #check {
    margin-top: 10px;
    font-size: 1.1rem;
  }
}
